{% extends 'base.html' %}
{% block content %}
    <main class="page">
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">About Us</h2>
                    <p style="max-width: 631px;">At Zeppelin we&nbsp; are here to ensure you have the best quality of choice and No regrets. Our service will make sure you you're happy and satisficed. Using or Model to help suggest you the most appropriate glass will ensure you have the best quality of choice.&nbsp;</p><img src="https://i.pinimg.com/originals/bb/ae/22/bbae22298e2c9019375f99fb30275d62.jpg">
                </div>
            </div>
        </section>
    </main>

{% endblock %}
